.product {
    max-width: 320px;
    margin: 0 auto;
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    div{
        *{
            margin-bottom: 10px;
        }
        .productName{
            font-size: 18px;
        }
        .productDesc{
            line-height: 25px;
            font-size: 14px;
        }
        .count_product{
            display: flex;
            align-items: center;
            justify-content: space-between;
            p{
                b{
                    color: rgb(164, 9, 9);
                }
            }
            button{
                padding: 10px 20px;
                background-color: #004D7E;
                border-radius: 4px;
                border: none;
                outline: none;
                color: white;
                cursor: pointer;
            }
        }
    }
}