@use '../../sass/fonts';
@use '../../sass/abstract/variables';
@use '../../sass/abstract/mixins';


#vital {
    max-width: 320px;
    margin: 0 auto;
    margin-top: 45px;

    .vital {
        &-txt {
            font-family: fonts.$special-font;
            font-size: 23px;
            font-weight: 500;
            margin-bottom: 30px;
        }

        &-grid {
            display: grid;
            grid-template-columns: 320px;
            gap: 30px;


            &-element {
                background-color: variables.$back-color;
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;
                padding: 20px 15px;
                border-radius: 10px;
                overflow: hidden;

                .heading {
                    font-size: 23px;
                    font-family: fonts.$special-font;
                    width: 100%;
                    margin-bottom: 15px;
                }

                div {
                    width: 100%;
                    padding: 20px 30px;
                    background-color: #FAFBFC;
                    margin-bottom: 20px;
                    border-radius: 10px;
                    line-height: 30px;

                    p {
                        font-size: 24px;
                        color: #D52023;
                    }

                    span {
                        font-size: 14px;
                    }
                }

                p {
                    width: 100%;
                    margin: 15px 0;
                    font-size: 18px;
                    line-height: 24px;

                    i {
                        font-style: normal;
                        color: #D52023;
                    }
                }
                    #buynow {
                        width: 100%;
                        padding: 10px 25px;
                        background-color: white;
                        color: #D52023;
                        border-radius: 5px;
                        border: none;
                        margin: 20px 0;
                    }


                button.installnow {
                    background-color: variables.$btns;
                    color: white;
                }

                img {
                    width: 290px;
                    margin-bottom: 20px;
                }
            }

        }
    }
}