@use '../../sass/abstract/mixins';

#contact {
    max-width: 320px;
    margin: 70px auto;
    display: grid;
    grid-template-columns: auto;

    .contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 15px;
        margin-bottom: 30px;
        width: 320px;

        span {
            font-size: 22px;
            font-weight: 600;
        }

        p {
            font-size: 13px;
            line-height: 20px;
        }

        textarea {
            width: 100%;
            height: 80px;
            border: 1px solid rgba(0, 0, 0, 0.638);
            outline: none;
            padding: 10px 20px;
            border-radius: 3px;
        }

        button {
            padding: 10px 20px;
            outline: none;
            border: none;
            border-radius: 5px;
            background-color: #385f97;
            color: white;
        }
    }
    .map{
        div{
            width: 320px;
        }
    }
}

@include mixins.lg-devices {
    #contact {
        max-width: 768px;
        margin: 50px auto;
        display: grid;
        grid-template-columns: auto auto;

        .contacts {
            align-items: start;
            text-align: start;
            width: 350px;
        }

        .map {
            div {
                width: 370px;
            }
        }
    }
}

@include mixins.xl-devices {
    #contact {
        max-width: 1200px;
        gap: 20px;
        .contacts {
            width: 500px;
            p{
                width: 480px;
            }
            textarea{
                height: 200px;
            }
        }

        .map {
            div {
                width: 650px;
            }
        }
    }
}