@use "../../sass/abstract/variables";
@use "../../sass/fonts";
@use '../../sass/abstract/mixins';

header {
  margin-top: 20px;

  .header {
    background-color: #f1f5f9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;

    &-bg {
      img {
        width: 300px;
      }
    }

    &-text {
      width: 100%;
      height: 20vh;
      padding: 140px 20px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      line-height: 24px;

      p {
        font-size: 25px;
        font-family: fonts.$special-font;
        margin-bottom: 15px;
      }

      span {
        font-family: fonts.$special-font;
        font-size: 14px;
        margin-bottom: 8px;
        width: 270px;
      }

      b {
        font-family: fonts.$special-font;
        font-size: 17px;
        margin-bottom: 20px;
        font-weight: 500;
      }

      button {
        padding: 15px 20px;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: #385f97;
        color: white;
        font-size: 14px;
      }
    }
  }


}


@include mixins.lg-devices {
  header {
    max-width: 768px;
    margin: 25px auto;

    .header {
      justify-content: center;
      align-items: center;
      flex-direction: row;
      padding: 20px 50px;

      &-bg {
        img {
          width: 400px;
        }
      }

      &-text {
        text-align: start;
        align-items: start;
      }
    }
  }
}

@include mixins.xl-devices {
  header {
    max-width: 1200px;
    .header {
      justify-content: center;
      align-items: center;
      flex-direction: row;
      padding: 20px 50px;

      &-bg {
        img {
          width: 550px;
        }
      }

      &-text {
        text-align: start;
        align-items: start;
        p{
          font-size: 35px;
        }
        span{
          font-size: 17px;
          line-height: 28px;
          width: 400px;
          margin: 14px 0;
        }
      }
    }
  }
}