@use "../../sass/abstract/variables";
@use "../../sass/fonts";

header {
  margin-top: 20px;
  .header {
    background-color: #eef1f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    &-bg{
      img{
        width: 300px;
      }
    }
    &-text {
      width: 100%;
      height: 20vh;
      padding: 140px 20px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      line-height: 24px;
      p {
        font-size: 25px;
        font-family: fonts.$special-font;
        margin-bottom: 15px;
      }

      span {
        font-family: fonts.$special-font;
        font-size: 14px;
        margin-bottom: 8px;
        width: 270px;
      }
      b {
        font-family: fonts.$special-font;
        font-size: 17px;
        margin-bottom: 20px;
        font-weight: 500;
      }

      button {
        padding: 15px 20px;
        border-radius: 5px;
        border: none;
        outline: none;
        background-color: #385f97;
        color: white;
        font-size: 14px;
      }
    }
  }


}
