@use "../../sass/fonts";
@use '../../sass/abstract/mixins';

#nav {
  height: 50px;
  max-width: 320px;
  margin: 0 auto;
  padding: 18px 0;

  .nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_left {
      img {
        width: 70px;
      }
    }

    &_right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;

      div {
        padding: 5px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        p,
        i {
          font-family: fonts.$special-font;
          font-size: 14px;
          cursor: pointer;
          display: none;
        }
      }
    }
  }
}



@include mixins.lg-devices {
  #nav {
    max-width: 768px;

    .nav-flex {
      &_left {
        img {
          width: 100px;
        }
      }

      &_right {
        div {
          p {
            display: block;
            margin-left: 20px;
            font-size: 15px;
          }
        }

        i {
          display: none;
        }
      }
    }
  }
}

@include mixins.xl-devices {
  #nav {
    max-width: 1200px;
  }
}