@use "../../sass/fonts";

#nav {
  height: 50px;
  max-width: 320px;
  margin: 0 auto;
  padding-top: 18px;
  
  .nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      div {
        background-color: #eef1f5;
        padding: 5px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        p,
        i {
          font-family: fonts.$special-font;
        }
      }
    }
  }
}
