@use "../../sass/fonts";
@use '../../sass/abstract/mixins';

#nav {
  height: 50px;
  max-width: 320px;
  margin: 0 auto;
  padding: 18px 10px;

  .nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_left {
      img {
        width: 70px;
      }
    }

    &_right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;

      div {
        padding: 5px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;

        p,
        i {
          font-family: fonts.$special-font;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
  }
}


@include mixins.sm-devices {
  #nav {
    max-width: 320px;

    .nav-flex {
      &_right {
        div {
          p {
            display: none;

          }
        }
      }
    }
  }
}