@use "../../sass/fonts";
@use '../../sass/abstract/mixins';

#nav {
  height: 60px;
  max-width: 320px;
  margin: 0 auto;
  padding-top: 18px;
  
  .nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_left{
      img{
        width: 150px;
      }
    }
    &_right {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;

      div {
        padding: 5px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        p,
        i {
          font-family: fonts.$special-font;
          font-size: 14px;
        }
      }
    }
  }
}


@include mixins.sm-devices{
#nav {
  max-width: 320px;
  .nav-flex {
    &_right {
      div {
        display: none;
      }
    }
  }
}
}