.sidebar{
    position: fixed;
    width: 100%;
    padding: 0 30px;
    height: 100vh;
    background-color: white;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
        position: fixed;

        li{
            font-size: 13px;
        }
    }
}