.sidebar{
    position: fixed;
    width: 100%;
    padding: 0 30px;
    height: 100vh;
    background-color: white;
    top: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    #close-sidebar{
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 28px;
        cursor: pointer;
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
        position: fixed;

        li{
            font-size: 17px;
        }
    }
}
.sidebar-state-open{
    display: flex;
}
.sidebar-state-close{
    display: none;
}

