@use '../../sass/fonts';
@use '../../sass/abstract/variables';
@use '../../sass/abstract/mixins';


#history{
    max-width: 320px;
    margin: 0 auto;
    margin-top: 40px;
    .history{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 20px;
        &-flex{
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                width: 120px;
                margin-right: 10px;
            }
            span{
                font-size: 25px;
                width: 75%;
                font-family: fonts.$special-font;
            }
        }

        p{
            font-size: 15px;
            width: 85%;
            font-family: fonts.$special-font;
        }
        img.historyimg{
            width: 100%;
        }

        button{
            width: 100%;
            padding: 8px 0;
            border-radius: 4px;
            border: none;
            outline: none;
            background-color: variables.$btns;
            color: white;
            font-size: 14px;
            font-family: fonts.$special-font;
            margin-bottom: 20px;
        }
    }
}