@use '../../sass/fonts';
@use '../../sass/abstract/variables';
@use '../../sass/abstract/mixins';


#history {
    max-width: 320px;
    margin: 0 auto;
    margin-top: 50px;

    .history {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 20px;

        &-flex {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 120px;
                margin-right: 10px;
            }

            span {
                font-size: 25px;
                width: 75%;
                font-family: fonts.$special-font;
            }
        }

        p {
            font-size: 15px;
            width: 85%;
            font-family: fonts.$special-font;
        }

        img.historyimg {
            width: 100%;
        }

        button {
            width: 100%;
            padding: 8px 0;
            border-radius: 4px;
            border: none;
            outline: none;
            background-color: variables.$btns;
            color: white;
            font-size: 14px;
            font-family: fonts.$special-font;
            margin-bottom: 50px;
        }
    }
}

@include mixins.lg-devices {
    #history {
        max-width: 768px;
        margin: 40px auto;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;

        .chart {
            width: 400px;
            height: auto;
        }

        .history {

            p {
                font-size: 16px;
                width: 100%;
                line-height: 25px;
                font-family: fonts.$special-font;
            }
        }
    }
}

@include mixins.xl-devices {
    #history {
        max-width: 1200px;
        margin-top: 40px;
        .chart {
            width: 550px;
            height: auto;
        }

        .history {
            width: 500px;
            &-flex{
                span{
                    font-size: 30px;
                }
            }
            p {
                font-size: 16px;
                width: 100%;
                line-height: 25px;
                font-family: fonts.$special-font;
            }
        }
    }
}