#news{
    max-width: 320px;
    margin: 0 auto;
    margin-top: 40px;
    .news{
        &-selections{
            display: grid;
            grid-template-columns: auto auto;
            align-items: start;
            width: 85%;
            grid-column-gap: 10px;
            grid-row-gap: 20px;
            div.yangiliklar{
                width: 160px;
            }
            div.izlanishlar{
                grid-column: span 2;
                width: 260px;
            }
            div.elonlar{
                width: 120px;
            }
            div{
                text-align: center;
                padding: 6px 8px;
                border-radius:15px;
                border: 1px solid rgba(128, 128, 128, 0.339);
                *{
                    text-decoration: none;
                    color: black;
                }
            }
            
        }
        &-section{
            margin-top: 30px;
            #yangilik, #elon, #bozor, #moliyaviy{
                .yangilik-grid, .elon-grid, .bozor-grid,.moliyaviy-grid{
                    display: grid;
                    grid-template-columns: auto;
                    gap: 15px;

                    div{
                        border: 1px solid rgba(0, 0, 0, 0.472);
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        line-height: 21px;
                        border-radius: 15px;
                        button{
                            width: fit-content;
                            padding: 8px 0;
                            background-color: transparent;
                            border: none;
                            outline: none;
                            color: rgba(255, 0, 0, 0.847);
                            font-size: 14px;
                        }
                        span{
                            font-size: 18px;
                        }
                        p{
                            font-size: 14px;
                        }
                    }

                }
            }
        }
    }
}